@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #40128b !important;
}

#todoContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#todoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  height: 60%;
  border-radius: 10px;
  background-color: #9336b4;
  border: 4px solid #9336b4;
}

#tdHeading {
  height: 1rem;
  font-weight: 700;
  color: #ffe79b;
  
}

input {
  width: 50%;
}

#sort {
  width: 25%;
}

#add {
  width: 25%;
}

#functions {
  width: 100% !important;
  padding: 0;
  margin: 0;
} */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #40128b !important;
    font-family: "Poppins", sans-serif;
}

#mine{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    border: 4px solid #9336b4;
    background-color: #9336b4;
    width: fit-content;
}

input{
    border-radius: 5px;
    padding: 0 5px;
}

button{
    border-radius: 5px !important;
    padding: 0 5px;

}

h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #ffe79b !important;
}

#sort{
    background-color: #DD58D6;
    color:#ffe79b;
    width:3rem;
    border:2px solid black;
}
#sort:hover{
    color:#DD58D6;
    background-color:#ffe79b
}

#add{
    background-color: #DD58D6;
    color:#ffe79b;
    width:3rem;
    border:2px solid black;
}
#add:hover{
    color:#DD58D6;
    background-color:#ffe79b
}

li{
    list-style: none;
    margin-top: 1rem;
    color:black;
}

.list{
    display: flex;
    /* flex-direction: ; */
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

#exit{
    /* width:2rem;
    height:1rem; */
    /* font-size: 1rem; */
    background-color: #ff5500;
    border:2px solid black;
    /* margin-top:1rem; */
    /* width:5px; */
    font-size:10px;
    /* height:1rem; */
    width:2rem;
    /* margin-left:12rem; */
    float: right;

}

@media (max-width:403px){
    #functions{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #sort{
      width:100%;
    }
    #add{
      width:100%;
    }
}