@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9ED69 !important;
    font-family: "Poppins", sans-serif;
}

#mine{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    border: 20px solid #F08A5D;
    background-color: #F08A5D;
    width: fit-content;
}

input{
    border-radius: 5px;
    padding: 0 5px;
}

button{
    border-radius: 5px !important;
    padding: 0 5px;

}

h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-bottom:2rem;
    color: #54016b !important;
}

#sort{
    background-color: #B83B5E;
    color:#ffe79b;
    width:3rem;
    border:2px solid black;
}
#sort:hover{
    color:#B83B5E;
    background-color:#ffe79b;
}

#add{
    background-color: #B83B5E;
    color:#ffe79b;
    width:3rem;
    border:2px solid black;
}
#add:hover{
    color:#B83B5E;
    background-color:#ffe79b;
}

li{
    list-style: none;
    margin-top: 1rem;
    color:black;
}

.list{
    display: flex;
    /* flex-direction: ; */
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

#exit{
    /* width:2rem;
    height:1rem; */
    /* font-size: 1rem; */
    background-color: #ff5500;
    border:2px solid black;
    /* margin-top:1rem; */
    /* width:5px; */
    font-size:10px;
    /* height:1rem; */
    width:2rem;
    /* margin-left:12rem; */
    float: right;

}

.whyme{
    /* width:2rem;
    height:1rem; */
    /* font-size: 1rem; */
    background-color: #ff5500;
    border:2px solid black;
    /* margin-top:1rem; */
    /* width:5px; */
    font-size:10px;
    /* height:1rem; */
    width:2rem;
    /* margin-left:12rem; */
    float: right;

}

#exit{
  margin-right:.4rem;
}

@media (max-width:403px){
    #functions{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #sort{
      width:100%;
    }
    #add{
      width:100%;
    }
}